body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 7fr;
}

#header{
    grid-column: 1/3;
}

#tictactoe-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    width: 80vh;
    height: 80vh;
}